# List of owner numbers (comma-separated), without '+' sign
OWNER_NUMBER='237674073940'

# Sticker pack name
PACKNAME='KING-DYLAN-MD'

#Time zone e.g (Africa/Nairobi)
TIME_ZONE='Africa/Douala'

# Author name for sticker metadata
AUTHOR='King Dylan'

# Display name of your bot
BOT_NAME='KING-DYLAN-MD'

# Allowed command prefixes (comma-separated, no spaces)
PREFIX='.'

# WhatsApp phone number (for pairing code)
BOT_NUMBER='237674073940'

