# Dépendances (Trop lourd pour GitHub)
node_modules/
jspm_packages/

# Fichiers de configuration sensibles (PROTECTION)
.env
config.env
session.json
auth_info_baileys/

# Logs et erreurs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers système inutiles
Thumbs.db
.DS_Store
*.swp

# Dossiers temporaires
.cache/
.npm/
dist/
