# ==========================================
# REPLIT CONFIGURATION FOR KING-DYLAN-MD
# ==========================================

modules = ["nodejs-20", "python-3.12", "nix", "bash", "ffmpeg"]
run = "npm install && npm start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]

[[ports]]
localPort = 5000
externalPort = 80

[metadata]
name = "KING-DYLAN-MD"
author = "King Dylan"
